/*=====================================================*/
/*                 Contact Form                        */
/*=====================================================*/ 


.form {
  padding: 1rem 5rem;
  @media only screen and (max-width: $bp-small) {
    padding: 1rem 2rem;
  }
  @media only screen and (max-width: $bp-xsmall) {
    padding: 1rem 1rem;
  }
  &__group {
    margin-bottom: 1rem;
    margin-left: 1rem;

    @media only screen and (max-width: $bp-xsmall) {
      margin-left: 0rem;
    }
  }
  &__input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: currentcolor currentcolor #cccccf;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 1.50rem;
    height: 6rem;
    margin-bottom: 2rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__label {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.6rem;
    transform: translateY(0rem);
    transition: all 0.2s;
    font-weight: 400;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__text-area {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: currentcolor currentcolor #cccccf;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 1.65rem;
    height: 9rem;
    margin-top: 2rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
